/*
* Mobile first styles, following G.Chrome width standards
 */

/*
* Layout common parts
 */
.menu-mobile {
	position: absolute;
	right: 5px;
	top: 0;
}

.menu-mobile__list {
	background-color: white;
	display: none;
	position: absolute;
	right: 0;
	top: 20px;
}
#menu-mobile__check {
	height: 0;
	position: absolute;
	top: -1000px;
	width: 0;
}

#menu-mobile__check:checked + .menu-mobile__list {
	display: block;
}

.menu-mobile__control {
	cursor: pointer;
}
.menu-mobile__control__image {
	width:15px;
}

.menu-mobile__list__item {
	color: #616164;
	display: block;
	height: 20px;
	padding: 5px 15px;
	text-decoration: none;
	white-space: nowrap;
}

.menu-wide {
	display: none;
}

.wrapper {
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	width:100%;
}

.wrapper--header{
	margin-bottom: 20px;
	margin-top: 20px;
	top: 0;
}

.header-container {
	background-color: white;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.wrapper--main {
	margin-top: 80px;
}

.row-shrink{
	display: inline-block;
}

.row-grow{
	display: flex;
	justify-content: space-between;
	margin-left: -15px;
	margin-right: -15px;
}

.foot {
	background-color: #454850;
	bottom: 0;
	color: #5BC0C3;
	height: 140px;
	padding-bottom: 5px;
	text-align: center;
}

.foot__hr {
	border: 1px solid #575A63;
	width: 100%;
}

.foot__follow{
	padding-top: 30px;
	padding-bottom: 26px;
}

.foot__follow__link {
	text-decoration: none;
	margin: 5px 15px;
}

.foot__follow__link>img {
	max-height: 18px
}
.foot__text {
	margin-top: 17px;
}
.foot__text a{
	color: #55B9C9;
	text-decoration: none;
}


/*
* Styles for Tablets
 */
@media (min-width: 768px) {
	.menu-mobile {
		display: none;
	}

	.menu-wide {
		display: block;
		position: absolute;
		right: 0;
		top: 10px;
	}
	
	.menu-wide__item {
		color: #868689;
		display: inline-block;
		margin-right: 30px;
		text-decoration: none;
	}

	.wrapper {
		margin-left: auto;
		margin-right: auto;
		width: 720px;
	}
	.row {
		display: flex;
		justify-content: space-between;
		margin-left: -15px;
		margin-right: -15px;
	}
	.col {
		margin-left: 15px;
		margin-right: 15px;
	}

	.col--third {
		flex-basis: 26%;
/*		width: inherit;
*/	}

	.col--quarter {
		max-width: 24%;
		/*width: inherit;*/
	}
}

/*
* Styles for Small screens at desktops and tablets
 */
@media (min-width: 1024px) {
	.wrapper {
		width: 990px;
	}
	
}

/*
* Styles for large screens
 */
@media (min-width: 1200px) {
	.wrapper {
		width: 1110px;
	}	
}
